<nav>
  <div class="nav-container">
    <a href="/" class="logo">ChamaOS</a>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="#services">Features</a></li>
      <li><a href="/signup" class="cta-button">Get Started</a></li>
    </ul>
  </div>
</nav>