<aside class="secretary-sidebar">
  <div class="sidebar-container">
    <div class="sidebar-header">
      <h3>Secretary Menu</h3>
    </div>

    <nav class="sidebar-nav">
      <ul class="sidebar-links">
        <li>
          <a href="/secretary/dashboard" class="sidebar-link"
            ><i class="icon-dashboard"></i><span>Dashboard</span></a
          >
        </li>
        <li>
          <a href="/secretary/meetings" class="sidebar-link"
            ><i class="icon-meetings"></i><span>Meetings</span></a
          >
        </li>
        <li>
          <a href="/secretary/documents" class="sidebar-link"
            ><i class="icon-documents"></i><span>Documents</span></a
          >
        </li>
        <li>
          <a href="/secretary/communications" class="sidebar-link"
            ><i class="icon-communications"></i><span>Communications</span></a
          >
        </li>
        <li>
          <a href="/secretary/member-records" class="sidebar-link"
            ><i class="icon-members"></i><span>Member Records</span></a
          >
        </li>
        <li>
          <a href="/secretary/calendar" class="sidebar-link"
            ><i class="icon-calendar"></i><span>Calendar</span></a
          >
        </li>
      </ul>
    </nav>

    <div class="sidebar-footer">
      <a href="/logout" class="logout-link">Logout</a>
    </div>
  </div>
</aside>
